<div id="experience" class="container my-5 py-5">
  <div class="text-center mb-5">
    <h2 class="fw-bold">Experiência Profissional</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="row mb-4">
        <div class="col-md-3 text-md-end">
          <h5 class="text-muted">Jul 2025 - Presente</h5>
        </div>
        <div class="col-md-9 border-start ps-4">
          <h4 class="fw-bold">Desenvolvedor Full Stack (Estagiário)</h4>
          <p class="text-muted">FAESA</p>
          <ul class="list-unstyled mt-2">
            <li><i class="bi bi-caret-right-fill text-primary"></i> Desenvolvimento de sistemas com Laravel</li>
            <li><i class="bi bi-caret-right-fill text-primary"></i> Suporte de atendimento a chamados com o sistema GLPI</li>
            <li><i class="bi bi-caret-right-fill text-primary"></i> Manutenção de sistemas internos</li>
          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-md-end">
          <h5 class="text-muted">Nov 2022 - Jul 2025</h5>
        </div>
        <div class="col-md-9 border-start ps-4">
          <h4 class="fw-bold">Assistente / Auxiliar de PCM</h4>
          <p class="text-muted">Oi Alimentos</p>
          <p class="fst-italic text-secondary small mt-n1">
            (Trajetória iniciada como Jovem Aprendiz)
          </p>
          <ul class="list-unstyled mt-2">
            <li><i class="bi bi-caret-right-fill text-primary"></i> Controle de Ordens de Serviço com o sistema Engeman</li>
            <li><i class="bi bi-caret-right-fill text-primary"></i> Requisição de materiais com o sistema Agrovys</li>
            <li><i class="bi bi-caret-right-fill text-primary"></i> Atendimento a Solicitações de Serviço baseado em prioridade</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>